<app-blank pageTitle="Ana Sayfa">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-stamp">
                  <div class="card-stamp-icon bg-yellow">                    
                    <i class="fa-solid fa-car"></i>
                  </div>
                </div>
                <div class="card-body">
                  <h3 class="card-title">Toplam Araç</h3>
                  <p style="font-size: 25px;">25</p>
                </div>
              </div>
        </div>
    </div>
</app-blank>